@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Raleway:400,700";

* {
  font-family: "Pacifico", "Georgia", serif;
  font-size: 14px;
}
body {
  background-image: url("http://s3.amazonaws.com/WiT/assets/hackathon-2d6234121d63aa13dc26d5fd6df45766.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*MENU*/
header {
  border-bottom: 1px solid #686;
  margin-bottom: 15px;

  height: 70px;
  background-color: #47a;

  -moz-box-shadow: #ccc, 0, 3px, 6px;
  -webkit-box-shadow: #ccc, 0, 3px, 6px;
  box-shadow: #ccc, 0, 3px, 6px;

  opacity: 0.9;
}
header nav {
  float: right;
  height: 100%;
}
header nav ul {
  height: 100%;
}
header nav ul li {
  display: inline-block;
  text-align: center;
  background-color: #47a;
  padding-top: 5%;
  margin-left: 20px;
  transition: 0.2s;
}
header nav ul li:hover {
  border-bottom: 3px solid #FFF; 
}
header nav ul li a {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
}
#logo {
  height: 40px; 
  margin-top: 1%;
}
/*MENU*/

/*LOGO*/
#header-wrap h1 {
  float: left;
  margin-top: 0.7%; 
}
#header-wrap h1 a {
  color: #333;
  font-family: "Pacifico", "Georgia", serif;
  font-weight: 400;
  font-size: 2.5em;
}
#header-wrap {
  width: 90%;
  margin: 0 auto;
  height: 70px;
}
/*LOGO*/

/*CONTENT*/
#content {
  background-color: #FFF;
  margin: 1% 5%;
  opacity: 0.5
}
/*CONTENT*/
