@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:400,700";
@import url(https://fonts.googleapis.com/css?family=Khula);

* {
  /*font-family: "Pacifico", "Georgia", serif;*/
  font-size: 14px;
}
body {
  background-image: url("http://s3.amazonaws.com/WiT/assets/hackathon-2d6234121d63aa13dc26d5fd6df45766.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*MENU*/
header {
  border-bottom: 1px solid #686;
  margin-bottom: 15px;

  height: 90px;
  background-color: #000;

  -moz-box-shadow: #ccc, 0, 3px, 6px;
  -webkit-box-shadow: #ccc, 0, 3px, 6px;
  box-shadow: #ccc, 0, 3px, 6px;

  opacity: 0.9;
}
header nav {
  position: absolute;
  left: 32%;
  top: 8%;
  height: 100%;
}
header nav ul {
  height: 100%;
}
header nav ul li {
  display: inline-block;
  /*text-align: center;*/
  background-color: #000;
  padding-top: 1%;
  margin-left: 20px;
  transition: 0.2s;
}
.menu-item:hover {
	border-bottom: 3px solid #FFF;
}
header nav ul li a {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
}
.social {
  height: 30px;
  width: 30px;
}
#social-media {
  margin-top: 2%;
  float: right;
}
/*MENU*/

/*LOGO*/
#logo {
  height: 40px;
  position: absolute;
  top: 1.5%;
  left: 43%;
}
#header-wrap {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 70px;
}
/*LOGO*/

/*BANNER*/
#banner {
  background-image: url("http://static.squarespace.com/static/52dd2f4be4b0fb2ead933f71/52dd3a3be4b0089d67004ecb/52dd3a4de4b0fc4c92c744f4/1390230094631/bmorebanner_two.jpg?format=1500w");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  margin: 1% 5%;
  opacity: 0.9;
  text-align: center;
  border: 1px solid;
}
/*BANNER*/

/*CONTENT*/
#content {
  background-color: #FFF;
  margin: 1% 5%;
  opacity: 0.9;
  font-family: "Khula";
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}
#content h1 {
  font-size: 30px;
}
/*CONTENT*/

/*FOOTER*/
footer {
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px #000;
  margin-bottom: 1.5%;
  font-family: "Raleway";
}
/*FOOTER*/
