* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li { list-style: none; }

.both {clear: both;} 
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
} 
.clearfix:before {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
